
.par{
  background-color: rgb(230, 244, 255,0.5);
  margin: 5%;
  border-radius: 10%;
  background-size:cover;

}

#x {
  width: 24.5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  margin-left: 36.5%;
  box-shadow: 0 2px 18px 0 rgb(230, 244, 255,0.5);
  transition: all ease-in-out .1s;
  background-size: 1000% 1000%;
}

.logo {
  background-image: url(back.jpg);
  background-size: 250%;


}
