.par{

  background-color: #8989;
  border-radius: 10%;
  background-size:  100% 100%;
  color: black;
}

#x {
  width: 24.5%;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 100%;
  margin-left: 36%;
  box-shadow: 0 2px 18px 0 rgba(98, 98,98,98);
  transition: all ease-in-out .1s;
  background-size: 1000% 1000%;
}

.logo {
  background-image: url(img/back.jpg);
  background-size: 250%;


}